body, html{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Sans;
}

div#hero{
    padding: 5%;
    background-color: #b5454d;
}

div#hero > article{
    direction: rtl;
}

div#hero > article > *{
    direction: ltr;
}

article{
    color: #fff;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

footer strong{
    color: #fff;
}

footer{
    margin-top: 2em;
    font-size: .7em;
    color: #ccc;
}

div#cc-box img{
    vertical-align: top;
}

section{
    font-size: .8em;
}

h1{
    margin: 0;
    text-transform: uppercase;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 3em;
}

header p{
    font-weight: 100;
    font-size: 2.5em;
}

p{
    margin: 0 0 1.2em 0;
}

a {
    background-color: #586A89;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1em;
    padding: 1em 4em 1.2em;
    margin: auto;
    transition: background-color 0.3s linear 0s;
    vertical-align: middle;
    text-decoration: none;
}

a:hover {
    background-color: #19486B;
}
