body, html{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Sans;
}

div#hero{
    padding: 5% 5% 1%;
    background-color: #b5454d;
}

article{
    color: #fff;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

footer strong{
    color: #fff;
}

footer{
    margin: 3em 0 1em;
    font-size: .7em;
    color: #ccc;
}

div#cc-box img{
    vertical-align: top;
}

section{
    font-size: .8em;
}

header h1{
    text-transform: uppercase;
}

h1, h2{
    margin: 0;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 3em;
}

div#timeline{
    margin: 2em 0;
}

div#timeline h2{
    font-variant: small-caps;
    text-align: center;
    margin: .5em 0;
    color: #444;
}

header p{
    font-weight: 100;
    font-size: 2.5em;
}

p{
    margin: 0 0 1.2em 0;
}

a {
    background-color: #586A89;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1em;
    padding: 1em 4em 1.2em;
    margin: auto;
    transition: background-color 0.3s linear 0s;
    vertical-align: middle;
    text-decoration: none;
}

a:hover {
    background-color: #19486B;
}

ol.months{
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.months > li{
    height: 125px;
    font-size: 2em;
    font-size: 2.5vw;
    font-weight: 600;
    color: rgba(0, 0, 0, .1);
    padding: .2em
}

ol.months > li:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, .04);
}

ol.months > li > *{
    display: block;
    margin: 0;
    line-height: .9em;
}
