/* Palette
 *
 * #681D23 dark red
 * #C1BF5D olive
 * #B5454D red
 * #256182 blue
 * #235068 dark blue
*/

body, html{
    margin: 0;
    padding: 0;
    font-family: Open Sans, Sans;
}

div#hero{
    padding: 5% 5% 1%;
    background-color: #b5454d;
}

article{
    color: #fff;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

footer strong{
    color: #fff;
}

footer{
    margin: 3em 0 1em;
    font-size: .7em;
    color: #ccc;
}

div#cc-box img{
    vertical-align: top;
}

section{
    font-size: .8em;
}

header h1{
    text-transform: uppercase;
}

h1, h2{
    margin: 0;
    line-height: 1.3em;
    font-weight: 700;
    font-size: 3em;
}

h2.stick {
    position: fixed;
    top:0;
    width: 100%;
    padding-bottom: 13.0em;
    background: rgba(0, 0, 0, .1);
}

div#timeline{
    margin: 0 0 2em 0;
}

div#timeline h2{
    font-variant: small-caps;
    text-align: center;
    margin: 0 0 .5em 0;
    padding: .5em 0 0 0;
    color: #444;
    border-top: 4px solid #681D23;
}

header p{
    font-weight: 100;
    font-size: 2.5em;
}

p{
    margin: 0 0 1.2em 0;
}

a{
    background-color: #256182;
    border-radius: 4px;
    color: #eee;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1em;
    padding: 1.2em 4em 1.2em;
    margin: auto;
    transition: background-color 0.3s linear 0s;
    vertical-align: middle;
    text-decoration: none;
}

a:hover {
    background-color: #235068;
}

ol.months{
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.months > li{
    height: 125px;
    font-size: 2em;
    font-size: 2.5vw;
    font-weight: 600;
    color: rgba(0, 0, 0, .1);
    padding: .2em
}

ol.months > li:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, .04);
}

ol.months > li > *{
    display: block;
    margin: 0;
    line-height: .9em;
}

.event{
    margin: 0;
    padding: 2em;
    display: inline-block;
    text-align: center;
    color: #eee;
    font-size: .8em;
}

.event.un{
    background-color: rgba(75, 49, 79, .7);
}

.event.wsis{
    background-color: rgba(181, 69, 77, .7);
}

.event.itu{
    background-color: rgba(229, 89, 55, .7);
}

