#calendar-view{
  width: 75%;
  min-width: 320px;
  margin: 0 auto;
}

#calendar-view .year{
  font: 10px sans-serif;
  shape-rendering: crispEdges;
  width: 100%;
}

#calendar-view .day {
  fill: #fff;
  stroke: #ccc;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

#calendar-view .month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

