#calendar-view{
  width: 100%;
  padding-bottom: 1em;
}

#calendar-view .year{
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

#calendar-view .day{
  fill: #EEE;
  stroke: #fff;
  -webkit-transition: all 200ms ease-in;
     -moz-transition: all 200ms ease-in;
      -ms-transition: all 200ms ease-in;
       -o-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
}

#calendar-view .month{
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}
